body {
	background: #52be80;
	font-family: 'Inconsolata';
}

h2 {
	text-align: center;
	margin-top: 40px;
}

input {
	width: 98%;
	height: 50px;
	background: #e0e0e0;
}

.container {
	height: 370px;
	width: 270px;
	margin: 60px auto;
	background: #ffffff;
}

.but {
	height: 30px;
	width: 30px;
}

#numbers {
	float: left;
}

#operators {
	float: right;
}

#inner {
	margin: 10px 20px;
}